body {
  margin: 0;
}
ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.circle {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  background-color: rgb(177, 164, 164);
  margin: 20px 30px;
}

.on {
  background-color: rgb(232, 125, 10);
}
